<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mc.kurunegala.bop.dao.ApproveDetailsMapper">
  <resultMap id="BaseResultMap" type="mc.kurunegala.bop.model.ApproveDetails">
    <id column="idApprove_details" jdbcType="INTEGER" property="idapproveDetails" />
    <result column="pricing" jdbcType="DOUBLE" property="pricing" />
    <result column="status_approv_details" jdbcType="INTEGER" property="statusApprovDetails" />
    <result column="Others" jdbcType="VARCHAR" property="others" />
    <result column="date_approve_details" jdbcType="TIMESTAMP" property="dateApproveDetails" />
    <result column="Send_to_approve_idSend_to_approve" jdbcType="INTEGER" property="sendToApproveIdsendToApprove" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="mc.kurunegala.bop.model.ApproveDetails">
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idApprove_details, pricing, status_approv_details, Others, date_approve_details, 
    Send_to_approve_idSend_to_approve
  </sql>
  <sql id="Blob_Column_List">
    comment
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="mc.kurunegala.bop.model.ApproveDetailsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from approve_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="mc.kurunegala.bop.model.ApproveDetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from approve_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from approve_details
    where idApprove_details = #{idapproveDetails,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from approve_details
    where idApprove_details = #{idapproveDetails,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mc.kurunegala.bop.model.ApproveDetailsExample">
    delete from approve_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mc.kurunegala.bop.model.ApproveDetails">
    insert into approve_details (idApprove_details, pricing, status_approv_details, 
      Others, date_approve_details, Send_to_approve_idSend_to_approve, 
      comment)
    values (#{idapproveDetails,jdbcType=INTEGER}, #{pricing,jdbcType=DOUBLE}, #{statusApprovDetails,jdbcType=INTEGER}, 
      #{others,jdbcType=VARCHAR}, #{dateApproveDetails,jdbcType=TIMESTAMP}, #{sendToApproveIdsendToApprove,jdbcType=INTEGER}, 
      #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mc.kurunegala.bop.model.ApproveDetails">
    insert into approve_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idapproveDetails != null">
        idApprove_details,
      </if>
      <if test="pricing != null">
        pricing,
      </if>
      <if test="statusApprovDetails != null">
        status_approv_details,
      </if>
      <if test="others != null">
        Others,
      </if>
      <if test="dateApproveDetails != null">
        date_approve_details,
      </if>
      <if test="sendToApproveIdsendToApprove != null">
        Send_to_approve_idSend_to_approve,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idapproveDetails != null">
        #{idapproveDetails,jdbcType=INTEGER},
      </if>
      <if test="pricing != null">
        #{pricing,jdbcType=DOUBLE},
      </if>
      <if test="statusApprovDetails != null">
        #{statusApprovDetails,jdbcType=INTEGER},
      </if>
      <if test="others != null">
        #{others,jdbcType=VARCHAR},
      </if>
      <if test="dateApproveDetails != null">
        #{dateApproveDetails,jdbcType=TIMESTAMP},
      </if>
      <if test="sendToApproveIdsendToApprove != null">
        #{sendToApproveIdsendToApprove,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mc.kurunegala.bop.model.ApproveDetailsExample" resultType="java.lang.Long">
    select count(*) from approve_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update approve_details
    <set>
      <if test="record.idapproveDetails != null">
        idApprove_details = #{record.idapproveDetails,jdbcType=INTEGER},
      </if>
      <if test="record.pricing != null">
        pricing = #{record.pricing,jdbcType=DOUBLE},
      </if>
      <if test="record.statusApprovDetails != null">
        status_approv_details = #{record.statusApprovDetails,jdbcType=INTEGER},
      </if>
      <if test="record.others != null">
        Others = #{record.others,jdbcType=VARCHAR},
      </if>
      <if test="record.dateApproveDetails != null">
        date_approve_details = #{record.dateApproveDetails,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendToApproveIdsendToApprove != null">
        Send_to_approve_idSend_to_approve = #{record.sendToApproveIdsendToApprove,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update approve_details
    set idApprove_details = #{record.idapproveDetails,jdbcType=INTEGER},
      pricing = #{record.pricing,jdbcType=DOUBLE},
      status_approv_details = #{record.statusApprovDetails,jdbcType=INTEGER},
      Others = #{record.others,jdbcType=VARCHAR},
      date_approve_details = #{record.dateApproveDetails,jdbcType=TIMESTAMP},
      Send_to_approve_idSend_to_approve = #{record.sendToApproveIdsendToApprove,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update approve_details
    set idApprove_details = #{record.idapproveDetails,jdbcType=INTEGER},
      pricing = #{record.pricing,jdbcType=DOUBLE},
      status_approv_details = #{record.statusApprovDetails,jdbcType=INTEGER},
      Others = #{record.others,jdbcType=VARCHAR},
      date_approve_details = #{record.dateApproveDetails,jdbcType=TIMESTAMP},
      Send_to_approve_idSend_to_approve = #{record.sendToApproveIdsendToApprove,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mc.kurunegala.bop.model.ApproveDetails">
    update approve_details
    <set>
      <if test="pricing != null">
        pricing = #{pricing,jdbcType=DOUBLE},
      </if>
      <if test="statusApprovDetails != null">
        status_approv_details = #{statusApprovDetails,jdbcType=INTEGER},
      </if>
      <if test="others != null">
        Others = #{others,jdbcType=VARCHAR},
      </if>
      <if test="dateApproveDetails != null">
        date_approve_details = #{dateApproveDetails,jdbcType=TIMESTAMP},
      </if>
      <if test="sendToApproveIdsendToApprove != null">
        Send_to_approve_idSend_to_approve = #{sendToApproveIdsendToApprove,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where idApprove_details = #{idapproveDetails,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="mc.kurunegala.bop.model.ApproveDetails">
    update approve_details
    set pricing = #{pricing,jdbcType=DOUBLE},
      status_approv_details = #{statusApprovDetails,jdbcType=INTEGER},
      Others = #{others,jdbcType=VARCHAR},
      date_approve_details = #{dateApproveDetails,jdbcType=TIMESTAMP},
      Send_to_approve_idSend_to_approve = #{sendToApproveIdsendToApprove,jdbcType=INTEGER},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where idApprove_details = #{idapproveDetails,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mc.kurunegala.bop.model.ApproveDetails">
    update approve_details
    set pricing = #{pricing,jdbcType=DOUBLE},
      status_approv_details = #{statusApprovDetails,jdbcType=INTEGER},
      Others = #{others,jdbcType=VARCHAR},
      date_approve_details = #{dateApproveDetails,jdbcType=TIMESTAMP},
      Send_to_approve_idSend_to_approve = #{sendToApproveIdsendToApprove,jdbcType=INTEGER}
    where idApprove_details = #{idapproveDetails,jdbcType=INTEGER}
  </update>
</mapper>