<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mc.kurunegala.bop.dao.BOPMapper">
	<resultMap id="BaseResultMap"
		type="mc.kurunegala.bop.model.BOP">
		<id column="idBOP" jdbcType="INTEGER" property="idbop" />
		<result column="Customer_idCustomer" jdbcType="INTEGER"
			property="customerIdcustomer" />
		<result column="BOP_applay_date" jdbcType="DATE"
			property="bopApplayDate" />
		<result column="BOP_plan_no" jdbcType="VARCHAR"
			property="bopPlanNo" />
		<result column="BOP_urveyors name" jdbcType="VARCHAR"
			property="bopUrveyorsName" />
		<result column="BOP_no" jdbcType="VARCHAR" property="bopNo" />
		<result column="BOP_is_markonground" jdbcType="VARCHAR"
			property="bopIsMarkonground" />
		<result column="BOP_ownership" jdbcType="VARCHAR"
			property="bopOwnership" />
		<result column="BOP_total_price" jdbcType="DOUBLE"
			property="bopTotalPrice" />
		<result column="BOP_complete_status" jdbcType="INTEGER"
			property="bopCompleteStatus" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="mc.kurunegala.bop.model.BOPWithBLOBs">
		<result column="BOP_discription" jdbcType="LONGVARCHAR"
			property="bopDiscription" />
		<result column="BOP_condtion" jdbcType="LONGVARCHAR"
			property="bopCondtion" />
		<result column="BOP_regulation" jdbcType="LONGVARCHAR"
			property="bopRegulation" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		idBOP, Customer_idCustomer, BOP_applay_date, BOP_plan_no,
		"BOP_urveyors
		name", BOP_no,
		BOP_is_markonground, BOP_ownership,
		BOP_total_price, BOP_complete_status
	</sql>
	<sql id="Blob_Column_List">
		BOP_discription, BOP_condtion, BOP_regulation
	</sql>
	<select id="selectByExampleWithBLOBs"
		parameterType="mc.kurunegala.bop.model.BOPExample"
		resultMap="ResultMapWithBLOBs">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from bop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample"
		parameterType="mc.kurunegala.bop.model.BOPExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from bop
		where idBOP = #{idbop,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from bop
		where idBOP = #{idbop,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="mc.kurunegala.bop.model.BOPExample">
		delete from bop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="mc.kurunegala.bop.model.BOPWithBLOBs">
		insert into bop (idBOP, Customer_idCustomer,
		BOP_applay_date,
		BOP_plan_no, "BOP_urveyors name", BOP_no,
		BOP_is_markonground, BOP_ownership, BOP_total_price,
		BOP_complete_status, BOP_discription,
		BOP_condtion, BOP_regulation)
		values (#{idbop,jdbcType=INTEGER},
		#{customerIdcustomer,jdbcType=INTEGER},
		#{bopApplayDate,jdbcType=DATE},
		#{bopPlanNo,jdbcType=VARCHAR},
		#{bopUrveyorsName,jdbcType=VARCHAR}, #{bopNo,jdbcType=VARCHAR},
		#{bopIsMarkonground,jdbcType=VARCHAR},
		#{bopOwnership,jdbcType=VARCHAR}, #{bopTotalPrice,jdbcType=DOUBLE},
		#{bopCompleteStatus,jdbcType=INTEGER},
		#{bopDiscription,jdbcType=LONGVARCHAR},
		#{bopCondtion,jdbcType=LONGVARCHAR},
		#{bopRegulation,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="mc.kurunegala.bop.model.BOPWithBLOBs">
		insert into bop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idbop != null">
				idBOP,
			</if>
			<if test="customerIdcustomer != null">
				Customer_idCustomer,
			</if>
			<if test="bopApplayDate != null">
				BOP_applay_date,
			</if>
			<if test="bopPlanNo != null">
				BOP_plan_no,
			</if>
			<if test="bopUrveyorsName != null">
				"BOP_urveyors name",
			</if>
			<if test="bopNo != null">
				BOP_no,
			</if>
			<if test="bopIsMarkonground != null">
				BOP_is_markonground,
			</if>
			<if test="bopOwnership != null">
				BOP_ownership,
			</if>
			<if test="bopTotalPrice != null">
				BOP_total_price,
			</if>
			<if test="bopCompleteStatus != null">
				BOP_complete_status,
			</if>
			<if test="bopDiscription != null">
				BOP_discription,
			</if>
			<if test="bopCondtion != null">
				BOP_condtion,
			</if>
			<if test="bopRegulation != null">
				BOP_regulation,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idbop != null">
				#{idbop,jdbcType=INTEGER},
			</if>
			<if test="customerIdcustomer != null">
				#{customerIdcustomer,jdbcType=INTEGER},
			</if>
			<if test="bopApplayDate != null">
				#{bopApplayDate,jdbcType=DATE},
			</if>
			<if test="bopPlanNo != null">
				#{bopPlanNo,jdbcType=VARCHAR},
			</if>
			<if test="bopUrveyorsName != null">
				#{bopUrveyorsName,jdbcType=VARCHAR},
			</if>
			<if test="bopNo != null">
				#{bopNo,jdbcType=VARCHAR},
			</if>
			<if test="bopIsMarkonground != null">
				#{bopIsMarkonground,jdbcType=VARCHAR},
			</if>
			<if test="bopOwnership != null">
				#{bopOwnership,jdbcType=VARCHAR},
			</if>
			<if test="bopTotalPrice != null">
				#{bopTotalPrice,jdbcType=DOUBLE},
			</if>
			<if test="bopCompleteStatus != null">
				#{bopCompleteStatus,jdbcType=INTEGER},
			</if>
			<if test="bopDiscription != null">
				#{bopDiscription,jdbcType=LONGVARCHAR},
			</if>
			<if test="bopCondtion != null">
				#{bopCondtion,jdbcType=LONGVARCHAR},
			</if>
			<if test="bopRegulation != null">
				#{bopRegulation,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="mc.kurunegala.bop.model.BOPExample"
		resultType="java.lang.Long">
		select count(*) from bop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update bop
		<set>
			<if test="record.idbop != null">
				idBOP = #{record.idbop,jdbcType=INTEGER},
			</if>
			<if test="record.customerIdcustomer != null">
				Customer_idCustomer =
				#{record.customerIdcustomer,jdbcType=INTEGER},
			</if>
			<if test="record.bopApplayDate != null">
				BOP_applay_date = #{record.bopApplayDate,jdbcType=DATE},
			</if>
			<if test="record.bopPlanNo != null">
				BOP_plan_no = #{record.bopPlanNo,jdbcType=VARCHAR},
			</if>
			<if test="record.bopUrveyorsName != null">
				"BOP_urveyors name" =
				#{record.bopUrveyorsName,jdbcType=VARCHAR},
			</if>
			<if test="record.bopNo != null">
				BOP_no = #{record.bopNo,jdbcType=VARCHAR},
			</if>
			<if test="record.bopIsMarkonground != null">
				BOP_is_markonground =
				#{record.bopIsMarkonground,jdbcType=VARCHAR},
			</if>
			<if test="record.bopOwnership != null">
				BOP_ownership = #{record.bopOwnership,jdbcType=VARCHAR},
			</if>
			<if test="record.bopTotalPrice != null">
				BOP_total_price =
				#{record.bopTotalPrice,jdbcType=DOUBLE},
			</if>
			<if test="record.bopCompleteStatus != null">
				BOP_complete_status =
				#{record.bopCompleteStatus,jdbcType=INTEGER},
			</if>
			<if test="record.bopDiscription != null">
				BOP_discription =
				#{record.bopDiscription,jdbcType=LONGVARCHAR},
			</if>
			<if test="record.bopCondtion != null">
				BOP_condtion =
				#{record.bopCondtion,jdbcType=LONGVARCHAR},
			</if>
			<if test="record.bopRegulation != null">
				BOP_regulation =
				#{record.bopRegulation,jdbcType=LONGVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update bop
		set idBOP = #{record.idbop,jdbcType=INTEGER},
		Customer_idCustomer = #{record.customerIdcustomer,jdbcType=INTEGER},
		BOP_applay_date = #{record.bopApplayDate,jdbcType=DATE},
		BOP_plan_no =
		#{record.bopPlanNo,jdbcType=VARCHAR},
		"BOP_urveyors name" =
		#{record.bopUrveyorsName,jdbcType=VARCHAR},
		BOP_no =
		#{record.bopNo,jdbcType=VARCHAR},
		BOP_is_markonground =
		#{record.bopIsMarkonground,jdbcType=VARCHAR},
		BOP_ownership =
		#{record.bopOwnership,jdbcType=VARCHAR},
		BOP_total_price =
		#{record.bopTotalPrice,jdbcType=DOUBLE},
		BOP_complete_status =
		#{record.bopCompleteStatus,jdbcType=INTEGER},
		BOP_discription =
		#{record.bopDiscription,jdbcType=LONGVARCHAR},
		BOP_condtion =
		#{record.bopCondtion,jdbcType=LONGVARCHAR},
		BOP_regulation =
		#{record.bopRegulation,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update bop
		set idBOP = #{record.idbop,jdbcType=INTEGER},
		Customer_idCustomer = #{record.customerIdcustomer,jdbcType=INTEGER},
		BOP_applay_date = #{record.bopApplayDate,jdbcType=DATE},
		BOP_plan_no =
		#{record.bopPlanNo,jdbcType=VARCHAR},
		"BOP_urveyors name" =
		#{record.bopUrveyorsName,jdbcType=VARCHAR},
		BOP_no =
		#{record.bopNo,jdbcType=VARCHAR},
		BOP_is_markonground =
		#{record.bopIsMarkonground,jdbcType=VARCHAR},
		BOP_ownership =
		#{record.bopOwnership,jdbcType=VARCHAR},
		BOP_total_price =
		#{record.bopTotalPrice,jdbcType=DOUBLE},
		BOP_complete_status =
		#{record.bopCompleteStatus,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="mc.kurunegala.bop.model.BOPWithBLOBs">
		update bop
		<set>
			<if test="customerIdcustomer != null">
				Customer_idCustomer =
				#{customerIdcustomer,jdbcType=INTEGER},
			</if>
			<if test="bopApplayDate != null">
				BOP_applay_date = #{bopApplayDate,jdbcType=DATE},
			</if>
			<if test="bopPlanNo != null">
				BOP_plan_no = #{bopPlanNo,jdbcType=VARCHAR},
			</if>
			<if test="bopUrveyorsName != null">
				"BOP_urveyors name" =
				#{bopUrveyorsName,jdbcType=VARCHAR},
			</if>
			<if test="bopNo != null">
				BOP_no = #{bopNo,jdbcType=VARCHAR},
			</if>
			<if test="bopIsMarkonground != null">
				BOP_is_markonground =
				#{bopIsMarkonground,jdbcType=VARCHAR},
			</if>
			<if test="bopOwnership != null">
				BOP_ownership = #{bopOwnership,jdbcType=VARCHAR},
			</if>
			<if test="bopTotalPrice != null">
				BOP_total_price = #{bopTotalPrice,jdbcType=DOUBLE},
			</if>
			<if test="bopCompleteStatus != null">
				BOP_complete_status =
				#{bopCompleteStatus,jdbcType=INTEGER},
			</if>
			<if test="bopDiscription != null">
				BOP_discription = #{bopDiscription,jdbcType=LONGVARCHAR},
			</if>
			<if test="bopCondtion != null">
				BOP_condtion = #{bopCondtion,jdbcType=LONGVARCHAR},
			</if>
			<if test="bopRegulation != null">
				BOP_regulation = #{bopRegulation,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where idBOP = #{idbop,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="mc.kurunegala.bop.model.BOPWithBLOBs">
		update bop
		set Customer_idCustomer =
		#{customerIdcustomer,jdbcType=INTEGER},
		BOP_applay_date =
		#{bopApplayDate,jdbcType=DATE},
		BOP_plan_no =
		#{bopPlanNo,jdbcType=VARCHAR},
		"BOP_urveyors name" =
		#{bopUrveyorsName,jdbcType=VARCHAR},
		BOP_no =
		#{bopNo,jdbcType=VARCHAR},
		BOP_is_markonground =
		#{bopIsMarkonground,jdbcType=VARCHAR},
		BOP_ownership =
		#{bopOwnership,jdbcType=VARCHAR},
		BOP_total_price =
		#{bopTotalPrice,jdbcType=DOUBLE},
		BOP_complete_status =
		#{bopCompleteStatus,jdbcType=INTEGER},
		BOP_discription =
		#{bopDiscription,jdbcType=LONGVARCHAR},
		BOP_condtion =
		#{bopCondtion,jdbcType=LONGVARCHAR},
		BOP_regulation =
		#{bopRegulation,jdbcType=LONGVARCHAR}
		where idBOP =
		#{idbop,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="mc.kurunegala.bop.model.BOP">
		update bop
		set Customer_idCustomer =
		#{customerIdcustomer,jdbcType=INTEGER},
		BOP_applay_date =
		#{bopApplayDate,jdbcType=DATE},
		BOP_plan_no =
		#{bopPlanNo,jdbcType=VARCHAR},
		"BOP_urveyors name" =
		#{bopUrveyorsName,jdbcType=VARCHAR},
		BOP_no =
		#{bopNo,jdbcType=VARCHAR},
		BOP_is_markonground =
		#{bopIsMarkonground,jdbcType=VARCHAR},
		BOP_ownership =
		#{bopOwnership,jdbcType=VARCHAR},
		BOP_total_price =
		#{bopTotalPrice,jdbcType=DOUBLE},
		BOP_complete_status =
		#{bopCompleteStatus,jdbcType=INTEGER}
		where idBOP =
		#{idbop,jdbcType=INTEGER}
	</update>

	<select id="viewMaxBopNo" resultType="java.lang.String">
		select max(BOP_no) from bop
	</select>
	<select id="selectByState" resultMap="ResultmapWithExtra">
		select* from bop where
		BOP_complete_status=#{state}
	</select>

	<resultMap id="ResultmapWithExtra"
		extends="ResultMapWithBLOBs"
		type="mc.kurunegala.bop.model.BOPWithBLOBs">

		<association column="Customer_idCustomer"
			property="customer" javaType="mc.kurunegala.bop.model.Customer"
			select="mc.kurunegala.bop.dao.CustomerMapper.selectByPrimaryKey" />

		<collection column="idBOP" property="uploads"
			javaType="ArrayList" ofType="mc.kurunegala.bop.model.Uploads"
			select="mc.kurunegala.bop.dao.UploadsMapper.selectByBopId" />

		<collection column="idBOP" property="bopHasAssessment"
			javaType="ArrayList"
			ofType="mc.kurunegala.bop.model.BopHasAssessment"
			select="mc.kurunegala.bop.dao.BopHasAssessmentMapper.selectByBopId" />

		<collection column="idBOP" property="areas"
			javaType="ArrayList" ofType="mc.kurunegala.bop.model.Area"
			select="mc.kurunegala.bop.dao.AreaMapper.selectByBopId" />

	</resultMap>

	<select id="selectByPrimaryKeyWithExtra"
		parameterType="java.lang.Integer" resultMap="ResultmapWithExtra">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from bop
		where idBOP = #{idbop,jdbcType=INTEGER}
	</select>
</mapper>