<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mc.kurunegala.bop.dao.StreetMapper">
  <resultMap id="BaseResultMap" type="mc.kurunegala.bop.model.Street">
    <id column="idStreet" jdbcType="INTEGER" property="idstreet" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="street_no" jdbcType="VARCHAR" property="streetNo" />
    <result column="street_status" jdbcType="INTEGER" property="streetStatus" />
    <result column="street_syn" jdbcType="INTEGER" property="streetSyn" />
    <result column="street_coment" jdbcType="VARCHAR" property="streetComent" />
    <result column="Ward_idWard" jdbcType="INTEGER" property="wardIdward" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idStreet, street_name, street_no, street_status, street_syn, street_coment, Ward_idWard
  </sql>
  <select id="selectByExample" parameterType="mc.kurunegala.bop.model.StreetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from street
    where idStreet = #{idstreet,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from street
    where idStreet = #{idstreet,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mc.kurunegala.bop.model.StreetExample">
    delete from street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mc.kurunegala.bop.model.Street">
    insert into street (idStreet, street_name, street_no, 
      street_status, street_syn, street_coment, 
      Ward_idWard)
    values (#{idstreet,jdbcType=INTEGER}, #{streetName,jdbcType=VARCHAR}, #{streetNo,jdbcType=VARCHAR}, 
      #{streetStatus,jdbcType=INTEGER}, #{streetSyn,jdbcType=INTEGER}, #{streetComent,jdbcType=VARCHAR}, 
      #{wardIdward,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mc.kurunegala.bop.model.Street">
    insert into street
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idstreet != null">
        idStreet,
      </if>
      <if test="streetName != null">
        street_name,
      </if>
      <if test="streetNo != null">
        street_no,
      </if>
      <if test="streetStatus != null">
        street_status,
      </if>
      <if test="streetSyn != null">
        street_syn,
      </if>
      <if test="streetComent != null">
        street_coment,
      </if>
      <if test="wardIdward != null">
        Ward_idWard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idstreet != null">
        #{idstreet,jdbcType=INTEGER},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetNo != null">
        #{streetNo,jdbcType=VARCHAR},
      </if>
      <if test="streetStatus != null">
        #{streetStatus,jdbcType=INTEGER},
      </if>
      <if test="streetSyn != null">
        #{streetSyn,jdbcType=INTEGER},
      </if>
      <if test="streetComent != null">
        #{streetComent,jdbcType=VARCHAR},
      </if>
      <if test="wardIdward != null">
        #{wardIdward,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mc.kurunegala.bop.model.StreetExample" resultType="java.lang.Long">
    select count(*) from street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update street
    <set>
      <if test="record.idstreet != null">
        idStreet = #{record.idstreet,jdbcType=INTEGER},
      </if>
      <if test="record.streetName != null">
        street_name = #{record.streetName,jdbcType=VARCHAR},
      </if>
      <if test="record.streetNo != null">
        street_no = #{record.streetNo,jdbcType=VARCHAR},
      </if>
      <if test="record.streetStatus != null">
        street_status = #{record.streetStatus,jdbcType=INTEGER},
      </if>
      <if test="record.streetSyn != null">
        street_syn = #{record.streetSyn,jdbcType=INTEGER},
      </if>
      <if test="record.streetComent != null">
        street_coment = #{record.streetComent,jdbcType=VARCHAR},
      </if>
      <if test="record.wardIdward != null">
        Ward_idWard = #{record.wardIdward,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update street
    set idStreet = #{record.idstreet,jdbcType=INTEGER},
      street_name = #{record.streetName,jdbcType=VARCHAR},
      street_no = #{record.streetNo,jdbcType=VARCHAR},
      street_status = #{record.streetStatus,jdbcType=INTEGER},
      street_syn = #{record.streetSyn,jdbcType=INTEGER},
      street_coment = #{record.streetComent,jdbcType=VARCHAR},
      Ward_idWard = #{record.wardIdward,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mc.kurunegala.bop.model.Street">
    update street
    <set>
      <if test="streetName != null">
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetNo != null">
        street_no = #{streetNo,jdbcType=VARCHAR},
      </if>
      <if test="streetStatus != null">
        street_status = #{streetStatus,jdbcType=INTEGER},
      </if>
      <if test="streetSyn != null">
        street_syn = #{streetSyn,jdbcType=INTEGER},
      </if>
      <if test="streetComent != null">
        street_coment = #{streetComent,jdbcType=VARCHAR},
      </if>
      <if test="wardIdward != null">
        Ward_idWard = #{wardIdward,jdbcType=INTEGER},
      </if>
    </set>
    where idStreet = #{idstreet,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mc.kurunegala.bop.model.Street">
    update street
    set street_name = #{streetName,jdbcType=VARCHAR},
      street_no = #{streetNo,jdbcType=VARCHAR},
      street_status = #{streetStatus,jdbcType=INTEGER},
      street_syn = #{streetSyn,jdbcType=INTEGER},
      street_coment = #{streetComent,jdbcType=VARCHAR},
      Ward_idWard = #{wardIdward,jdbcType=INTEGER}
    where idStreet = #{idstreet,jdbcType=INTEGER}
  </update>
  <select id="selectByState" resultMap="BaseResultMap">
  select * from street where street_status=#{state}
  </select>
</mapper>