<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mc.kurunegala.bop.dao.UserLoginMapper">
  <resultMap id="BaseResultMap" type="mc.kurunegala.bop.model.UserLogin">
    <id column="idUser_Login" jdbcType="INTEGER" property="iduserLogin" />
    <result column="user_login_in" jdbcType="TIMESTAMP" property="userLoginIn" />
    <result column="user_login_out" jdbcType="TIMESTAMP" property="userLoginOut" />
    <result column="User_idUser" jdbcType="INTEGER" property="userIduser" />
    <result column="user_login_syn" jdbcType="INTEGER" property="userLoginSyn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idUser_Login, user_login_in, user_login_out, User_idUser, user_login_syn
  </sql>
  <select id="selectByExample" parameterType="mc.kurunegala.bop.model.UserLoginExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_login
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_login
    where idUser_Login = #{iduserLogin,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_login
    where idUser_Login = #{iduserLogin,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mc.kurunegala.bop.model.UserLoginExample">
    delete from user_login
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mc.kurunegala.bop.model.UserLogin">
    insert into user_login (idUser_Login, user_login_in, user_login_out, 
      User_idUser, user_login_syn)
    values (#{iduserLogin,jdbcType=INTEGER}, #{userLoginIn,jdbcType=TIMESTAMP}, #{userLoginOut,jdbcType=TIMESTAMP}, 
      #{userIduser,jdbcType=INTEGER}, #{userLoginSyn,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mc.kurunegala.bop.model.UserLogin">
    insert into user_login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iduserLogin != null">
        idUser_Login,
      </if>
      <if test="userLoginIn != null">
        user_login_in,
      </if>
      <if test="userLoginOut != null">
        user_login_out,
      </if>
      <if test="userIduser != null">
        User_idUser,
      </if>
      <if test="userLoginSyn != null">
        user_login_syn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iduserLogin != null">
        #{iduserLogin,jdbcType=INTEGER},
      </if>
      <if test="userLoginIn != null">
        #{userLoginIn,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginOut != null">
        #{userLoginOut,jdbcType=TIMESTAMP},
      </if>
      <if test="userIduser != null">
        #{userIduser,jdbcType=INTEGER},
      </if>
      <if test="userLoginSyn != null">
        #{userLoginSyn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mc.kurunegala.bop.model.UserLoginExample" resultType="java.lang.Long">
    select count(*) from user_login
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_login
    <set>
      <if test="record.iduserLogin != null">
        idUser_Login = #{record.iduserLogin,jdbcType=INTEGER},
      </if>
      <if test="record.userLoginIn != null">
        user_login_in = #{record.userLoginIn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userLoginOut != null">
        user_login_out = #{record.userLoginOut,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userIduser != null">
        User_idUser = #{record.userIduser,jdbcType=INTEGER},
      </if>
      <if test="record.userLoginSyn != null">
        user_login_syn = #{record.userLoginSyn,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_login
    set idUser_Login = #{record.iduserLogin,jdbcType=INTEGER},
      user_login_in = #{record.userLoginIn,jdbcType=TIMESTAMP},
      user_login_out = #{record.userLoginOut,jdbcType=TIMESTAMP},
      User_idUser = #{record.userIduser,jdbcType=INTEGER},
      user_login_syn = #{record.userLoginSyn,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mc.kurunegala.bop.model.UserLogin">
    update user_login
    <set>
      <if test="userLoginIn != null">
        user_login_in = #{userLoginIn,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginOut != null">
        user_login_out = #{userLoginOut,jdbcType=TIMESTAMP},
      </if>
      <if test="userIduser != null">
        User_idUser = #{userIduser,jdbcType=INTEGER},
      </if>
      <if test="userLoginSyn != null">
        user_login_syn = #{userLoginSyn,jdbcType=INTEGER},
      </if>
    </set>
    where idUser_Login = #{iduserLogin,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mc.kurunegala.bop.model.UserLogin">
    update user_login
    set user_login_in = #{userLoginIn,jdbcType=TIMESTAMP},
      user_login_out = #{userLoginOut,jdbcType=TIMESTAMP},
      User_idUser = #{userIduser,jdbcType=INTEGER},
      user_login_syn = #{userLoginSyn,jdbcType=INTEGER}
    where idUser_Login = #{iduserLogin,jdbcType=INTEGER}
  </update>
</mapper>